dl_vault_namespace: "test_123"

dev:
    
    anexus_base_url:    "https://ci.open-insights.co.in:8444/repository" 
    arepository:        "hermes-snapshots"
    
    amysqlhost:         "dev.aws.mysql-dev.com"
    amysqlport:         "3306"
    amysqluser:         "{{ dev_mysql_user}}" 
    amysqlpass:         "{{ dev_mysql_pass}}"
    
    aoraclehost:        "dev.als.oracle-dev.com"
    aoracleuser:        "{{ dev_oracle_user }}"
    aoraclepass:        "{{ dev_oracle_pass }}" 
    aoracle_home:       "/ora01/oradbs/product/12102/0C64"
    aoracle_sid:        "DLBCC1T"

uat:

    amysqlhost:         "dev.aws.mysql-dev.com"
    amysqlport:         "3306"
    amysqluser:         "{{ dev_mysql_user }}" 
    amysqlpass:         "{{ dev_mysql_pass }}"

    anexus_base_url:    "https://ci.open-insights.co.in:8444/repository" 
    arepository:        "maven-snapshots"

    aoraclehost:        "dev.als.oracle-dev.com"
    aoracleuser:        "{{ dev_oracle_user }}"
    aoraclepass:        "{{ dev_oracle_pass }}" 
    aoracle_home:       "/ora01/oradbs/product/12102/0C64"
    aoracle_sid:        "DLBCC1T"

    informatica_connection_vars: "some_uri"
    inf_user:           "{{ uat_informatica_user }}"
    inf_pass:           "{{ uat_informatica_pass }}"

prod:

    amysqlhost:         "dev.aws.mysql-dev.com"
    amysqlport:         "3306"
    amysqluser:         "{{ dev_mysql_user }}" 
    amysqlpass:         "{{ dev_mysql_pass }}"

    anexus_base_url:    "https://ci.open-insights.co.in:8444/repository" 
    arepository:        "maven-snapshots"

    aoraclehost:        "dev.als.oracle-dev.com"
    aoracleuser:        "{{ dev_oracle_user }}"
    aoraclepass:        "{{ dev_oracle_pass }}" 
    aoracle_home:       "/ora01/oradbs/product/12102/0C64"
    aoracle_sid:        "DLBCC1T"

    informatica_connection_vars: "some_uri"
    inf_user:           "{{ uat_informatica_user }}"
    inf_pass:           "{{ uat_informatica_pass }}"